
/* Layout
   ========================================================================== */

*, *:before, *:after {
  box-sizing: border-box;
}

html { font-size: 100%; }

body {
    background: #154271;
}

.container {
    width: 90%;
    margin: 0 auto;
    position: relative;
}


/* Navigation
   ========================================================================== */

nav {
    height: 165px;
    background: #fff;
    text-align: center;
}

nav img.logo {
    margin: 12px auto;
    float: none;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 3px;
    padding: 15px 0;
    height: 75px;
}

nav li a {
    line-height: 45px;
    text-decoration: none;
    color: #154271;
    padding: 0 25px;
    height: 45px;
    display: block;
    border: 1px solid #154271;
    border-radius: 3px;
    transition: all .2s ease;
}

nav li a:hover {
    background: #154271;
    color: #fff;
    border: 1px solid #154271;
}



/* Hero Section
   ========================================================================== */

#hero {
    background: url('../img/stars.png') repeat-x;
    text-align: center;
}

#hero h1 {
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-top: 4rem;
    margin: 1rem auto;
}

#hero h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    opacity: .7;
    color: #fff;
    width: 80%;
    margin: auto;
    padding-bottom: 4rem;
}


/* Main Section
   ========================================================================== */

section#main {
    background: url('../img/meteor.svg') no-repeat;
    background-size: 100%;
    display: block;
    width: 100%;
    padding: 10em 0;
}

section#main h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #154271;
    font-weight: 700;
    text-transform: uppercase;
}

section#main p {
    color: #154271;
    text-align: center;
}

.avatar img {
    width: 90%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    background: #fff;
    border: 6px solid #154271;
    margin: 4em auto 0;
}

.row {
    display: table;
    width: 100%;
}

.row .column {
    text-align: center;
    float: left;
}

.row .third {
    width: 50%;
}

.member_name {
    background: #154271;
    color: #fff;
    padding: 12px 25px;
    display: inline-block;
    font-size: 80%;
    border-radius: 4px;
}


/* Search Feature
   ========================================================================== */

#search {
    text-align: center;
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 0 auto 6em;
}

#search .input-lg {
    line-height: 55px;
    border: 1px solid #154271;
    border-radius: 5px;
    width: 100%;
    padding: 0 20px 0 45px;
    outline: none;
    font-size: 1.25em;
    color: #154271;
}

#search .input-lg:focus {
    box-shadow: 0 0 8px rgba(52, 152, 219,.5);
    outline: 1px solid rgba(52, 152, 219,1.0);;
}

#search label.magnify {
    position: absolute;
    top: 15px;
    left: 13px;
    font-size: 150%;
    color: #154271;
}

/* Footer Section
   ========================================================================== */

footer {
    height: 100px;
}


/* Helpers
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}



/* Overlay & Modal
   ==========================================================================*/
#overlay {
    width 100%;
    height 100%;
    background rgba(41, 128, 185,1);
    z-index 10;
    position absolute;
    top 0;
    left 0;
    display: block;
}



/* Media Queries
   ========================================================================== */

@media only screen and (min-width: 640px) {

    html {
        font-size: 112%;
    }

    .container {
        max-width: 1140px;
    }

    nav {
        height: 75px;
        text-align: left;
    }

    nav ul {
        float: right;
    }

    nav img.logo {
        float: left;

    }
    #hero h1 {
        font-size: 4em;
        padding-top: 5rem
    }

    section#main {
        min-height: 800px;
    }

    .row .third {
        width: 33%;
    }

}
